.premier__league {
  background: var(--color-bg1);
  padding: 4rem;
  margin: 4rem 4rem;
  border-radius: 1rem;
}

.league__table {
  height: 100%;
  padding: 0 16px;
  align-items: center;
}

.standings {
  display: flex;
  gap: 2rem;
}

.short {
  display: none;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

th,
td {
  border: 1px solid var(--color-light);
  padding: 8px;
}

thead {
  background-color: var(--color-success);
  color: white;
  font-size: 0.875rem;
  letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-light);
}

tbody tr:nth-child(-n + 4) th {
  background-color: var(--color-bg);
}

tbody tr:nth-child(n + 5):nth-child(-n + 6) th {
  background-color: var(--color-bg3);
}

tbody tr:nth-child(7) th {
  background-color: var(--color-bg2);
}

tbody tr:nth-child(n + 18):nth-child(-n + 20) th {
  background-color: var(--color-danger-variant);
}

/* ====== MEDIAQ - TABLETS ====== */
@media screen and (max-width: 1024px) {
  .long {
    display: none;
  }

  .short {
    display: block;
  }
}
